.add-admin{
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-creative-synthesis-city-comic-real-estate-image_8675.jpg);
}
.add-admin::before{
    content: "";
    display: block;
    background: #0a0a0a94;
    height: 100%;
    width: 100%;
    position: absolute;
}
.add-admin .formSection{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    width: 50%;
    overflow: hidden;
    background-color: #fff;
}
.add-admin .formSection .column1{
overflow: hidden;
padding: 0px;
}

.add-admin .formSection .column1{
    position: relative;
    height: 400px;
}
.add-admin .formSection form{
    width: 80%;
}
.add-admin .formSection form h5{
   text-align: center;
   color: var(--main-theme-color);
   margin-bottom: 20px;
}